:root {
	--darkgray: #142739;
	--gray: #2e5b84;
	--lightgray: #4282bd;
	--blue: #0066ff;
	--white: #ecf2f9;
}

body {
	margin:0;
	background-color: lightblue;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: 'Orbitron', sans-serif;
}

* {
	box-sizing: border-box;
}